*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Comfortaa', cursive;
font-family: 'Quicksand', sans-serif;   
background-color: darkgray;
}


